@use "sass:color";
.btn {
    &.btn-primary {
        background-color: #f94c3b;
        border-color: #f94c3b;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: color.scale(#f94c3b, $lightness: -15%);
            border-color: color.scale(#f94c3b, $lightness: -15%);
        }
    }
}
